<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">   

    <title>home</title>
</head>
<body>

    <h1>Home Page</h1>


    <form method="POST">
        {%csrf_token%}

        <label for="search">Search for Books</label>
        <input type="text" name="name">

        <button type="submit">Submit</button>

    </form>

</body>
</html> -->



<!-- NEW -->

<!-- home page -->
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/b1fb33998f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    
    
        <!-- CSS-stylesheet -->
        <link rel= "stylesheet" href="{% static 'CSS/nav-footer.css' %}">
        <link rel= "stylesheet" href = "{% static 'CSS/homepage.css' %}">
</head>
<body>

    <!-- Navbar -->
    <!-- NAVBAR-SECTION -->
    <section id ="Navbar">
      <nav class="navbar navbar-expand navbar-custom">
          <a class="navbar-brand" href="{% url 'home' %}"><i class="far fa-circle"></i> Library</a>

              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'trd' %}">Trade</a>
                  </li>
                  <li class="signup nav-item">
                      <a class="nav-link" href="{% url 'team' %}">Us</a>
                  </li> 
              </ul>

              <span><a href="{% url 'profile' %}"><img class="avatar" src= "{{reader.image.url}}"></a></span>
      </nav>      
</section>	

    <!-- BODY  -->
    <form method = "POST">
        {%csrf_token%}
    <input name = "name" type="text" class="srcBox" placeholder="Search a book...">
    <button type = "submit" class = "tradebutton">Go</button>
    </form>


    <div class="flex">
   <!-- Carousel  -->
    <section id="home-page-carousel">
        <div id="homepage-carousel" class="carousel slide" data-bs-ride="carousel" data-keyboard="true">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

          </ol>
          <div class="carousel-inner">
            <div class="slides carousel-item active ">
              <h3>ADMIN'S RECOMMENDATION </h3>
              <i class="fas fa-book-open"></i>
            </div>
            <div class="slides carousel-item">
              <h3>TRADE AND EXCHANGE</h3>
              <i class="fas fa-book-open"></i>
            </div>
            <div class="slides carousel-item">
              <h3>GENRES</h3>
              <i class="fas fa-book-open"></i>
            </div>
            <div class="slides carousel-item">
              <h3>READ</h3>
              <i class="fas fa-book-open"></i>
            </div>
          </div>
          <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </section>




  <!-- ADMINS RECOMMENDATION -->
  <section id="recommendation">
    <div id="recommendation-carousel" class="carousel slide" data-bs-ride="carousel" data-keyboard="true">
      <div class="carousel-inner">
        <div class="rslides carousel-item active ">
          <h3>Fiction </h3>
          book name goes here<br>
          <i class="fas fa-book-open"></i>
        </div>
        <div class="rslides carousel-item">
          <h3>Non-Fiction</h3>
          book name goes here<br>
          <i class="fas fa-book-open"></i>
        </div>
        <div class="rslides carousel-item">
          <h3>Sci-Fi</h3>
          book name goes here<br>
          <i class="fas fa-book-open"></i>
          </div>
        <div class="rslides carousel-item">
          <h3>Classic</h3>
          book name goes here<br>
          <i class="fas fa-book-open"></i>
        </div>
      </div>
      <a class="carousel-control-prev" href="#recommendation-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recommendation-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</div>

  <section id="genres">
    <div class="genre">
      <p>
        Genres list:
      </p>
      <label for="dog-names">Look Through the genres <br></label>
<select name="genre" id="g">
    <option value="Art">Art</option>
    <option value="Biography">Biography</option>
    <option value="Business">Business</option>
    <option value="Classics">Classics</option>
    <option value="Crime">Crime</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Fiction">Fiction</option>
    <option value="History">History</option>
    <option value="Memoir">Memoir</option>
    <option value="Music">Music</option>
    <option value="Mystery">Mystery</option>
    <option value="Nonfiction">Nonfiction</option>
    <option value="Philosophy">Philosophy</option>
    <option value="Poetry">Poetry</option>
    <option value="Psychology">Psychology</option>
    <option value="Psychology">Psychology</option>
    <option value="Psychology">Psychology</option>

</select>  
    </div>
  </section>


    <!-- Footer Section  -->
    <section id = "footer">
      <div class = "footer">
        <a href ="https://www.facebook.com/" target="_blank"><i class="footer-img fab fa-facebook"></i></a>
        <a href ="https://www.twitter.com/" target="_blank"><i class="footer-img fab fa-twitter"></i></a>
        <a href ="https://www.instagram.com/" target="_blank"><i class="footer-img fab fa-instagram"></i></a>
        <a href ="https://www.gmail.com/" target="_blank"><i class="footer-img fas fa-envelope"></i></a>
        <p class = "footer-text">© Copyright 2022 PBL</p>
      </div>
  </section>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src= "js/include-html.min.js"></script>
</body>
</html>