<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">   

    <title>Signup</title>
</head>
<body>

    {% block body %}

    <br>
        <h1>Register</h1>
        <form method="POST"> 
            {% csrf_token %}
       
        <input type="text" name="username" placeholder="Username" /><br>
        <input type="email" name="email" placeholder="E-mail" /><br>
        <input type="text" name="first_name" placeholder="First Name" /><br>
        <input type="text" name="last_name" placeholder="Last Name" /><br>
        <input type="password" name="password" placeholder="Password" /><br>
        <input type="password" name="confirm_password" placeholder="Confirm your password" /><br><br>
          
        <input type="submit" name="Sign Up" value="Sign up" />
        
    {% endblock %}
</body>
</html>

-->
{%load static%}
<html>
  <head>
    <!-- Bootstrap stylesheet -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704
    +h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  

    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b1fb33998f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">


    <!-- CSS-stylesheet -->
    <link rel= "stylesheet" href="{% static 'CSS/navbar-footer.css' %}">
    <link rel= "stylesheet" href="{% static 'CSS/signup.css' %}">
    
</head>

  <!-- BODY -->
  <body>
      <!-- NAVBAR-SECTION -->
    <section id ="Navbar">
      <nav class="navbar bg-dark navbar-expand navbar-dark">
          <a class="navbar-brand" href="{% url 'main' %}"><i class="far fa-circle"></i> Library</a>

              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'main' %}">Explore</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="signup nav-item">
                      <a class="nav-link" href="{% url 'signup' %}">Sign-Up</a>
                  </li> 
              </ul>
      </nav>      
</section>

<!-- Sign-Up Section  -->
    <section id = "signup">
        <div class="container" id="wrap">
            <div class="row">
              <div class="signup-text col-7 col-md-6 col-md-offset-3">
                  <form method="POST" accept-charset="utf-8" class="form" role="form">
                    {%csrf_token%}
                       <legend>Sign Up</legend>
                          <h5>You're seconds away from accessing all our best stories!</h5>
                          <div class="row">
                              <div class="col-6 col-md-6">
                                <input type="text" name="first_name" value="" class="texts form-control input-lg" placeholder="First Name">  
                              </div>
                              <div class="col-6 col-md-6">
                                  <input type="text" name="last_name" value="" class="texts form-control input-lg" placeholder="Last Name"  />                        
                              </div>
                          </div>
                          <input type="text" name="username" value="" class="texts form-control input-lg" placeholder="Username">  
                          <input type="email" name="email" value="" class="texts form-control input-lg" placeholder="Your Email" />
                          <input type="password" name="password" value="" class="texts form-control input-lg" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                          <input type="password" name="confirm_password" value="" class="texts form-control input-lg" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>                  
                          <div class="row">
                          </div>
                          <br />
                    <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.<br> </span>
                          <button type="submit" class="btn btn-outline-dark">
                              Create my account</button>
                  </form>          
                </div>
      </div>            
      </div>
    </section>

<!-- Footer Section  -->
<section id = "footer">
  <div class = "footer">
    <a href ="https://www.facebook.com/" target="_blank"><i class="footer-img fab fa-facebook"></i></a>
    <a href ="https://www.twitter.com/" target="_blank"><i class="footer-img fab fa-twitter"></i></a>
    <a href ="https://www.instagram.com/" target="_blank"><i class="footer-img fab fa-instagram"></i></a>
    <a href ="https://www.gmail.com/" target="_blank"><i class="footer-img fas fa-envelope"></i></a>
    <p class = "footer-text">© Copyright 2022 PBL</p>
  </div>
</section>
    </body>
    </html>