#home-page-carousel{
   
    /* margin-left: 10px; */
    margin: 5% 2% 2% 5%;
    text-align: center;
    width: 80%;
}
#recommendation{
  margin: 12% 2% 2% 5%;
  text-align: center;
  width: 20%;
  background-color: bisque;
  height: 10%;
}
#genres{
  margin: 5% 2% 2% 5%;
  text-align: center;
  width: 69%;
  background-color: bisque;
}

#discussion_forum{
  margin: 5% 2% 2% 5%;
  text-align: center;
  width: 20%;
  background-color: bisque;
}
.flex{
display: flex;
}


.avatar{
  border-radius: 50%;
  background-color: black;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  padding: 12px 12px;
  z-index: 1;
  font-size: 0.8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content{
  text-decoration: none;
  color: black;
}

.carousel-inner{
    background-color: bisque;
  }
  .slides{
    text-align: center;
    padding: 12%;
  }

  .recommendation-carousel{
    margin: 3% 3% 3% 10%;
    text-align: center;
  
  }
  .rslides{
    text-align: center;

  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    display: none;
}

    /* FOOTER */
.footer{
  text-align: center;
  padding: 1%;
  background-color:lightblue;
}
.footer-img{
  margin: 2% 3% 1% ;
  color: black;
}
.footer-img:hover{
  color: gray;
}


ol.carousel-indicators {
  position: absolute;
  bottom: 10%;

}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 10%;
  height: 1px;
  margin: 10px;
  border-radius: 0;
}

ol.carousel-indicators li.active {
  background: rgb(0, 0, 0);
}